/* 
    01-Newsletter - Copyright 2009-2017 by Michael Lorer - 01-Scripts.de
    Lizenz: Creative-Commons: Namensnennung-Keine kommerzielle Nutzung-Weitergabe unter gleichen Bedingungen 3.0 Deutschland
    Weitere Lizenzinformationen unter: http://www.01-scripts.de/lizenz.php

    Modul:      01newsletter
    Dateiinfo:  Modulspezifische CSS-Datei
*/

.fieldcenter {
    text-align: center;
}

.bcred {
    border-color: #BB0000;
}