<form action="<?php echo $filename; ?>" method="post">
<h2><label for="input_emailaddy">Ihre E-Mail-Adresse:</label></h2>
<input type="text" name="email" id="input_emailaddy" value="<?php echo $_REQUEST['email']; ?>" size="30" class="input_text" />

<br />

<?php if ($settings['usecats'] == 1): ?>

<h2>Kategorien</h2>
<p><label for="input_chosecats">Bitte w&auml;hlen Sie die Kategorien aus</label>, zu denen Sie regelm&auml;&szlig;ig informiert werden m&ouml;chten.</p>

<select name="cats[]" id="input_chosecats" size="5" multiple="multiple" class="input_select">
	<?php echo $mailcats; ?>
</select>

<p>Mehrere Kategorien k&ouml;nnen Sie durch das Dr&uuml;cken der <i>STRG</i>-Taste und dem Anklicken der einzelnen Kategorien
ausw&auml;hlen.</p>

<?php endif; ?>

<?php if ($settings['use_nutzungsbedingungen'] == 1 && !empty($settings['nutzungsbedingungen'])): ?>

<h2>Datenschutz / Nutzungsbedingungen</h2>

<textarea rows="8" cols="70" name="nutzungsbedingungen"><?php echo htmlentities(stripslashes($settings['nutzungsbedingungen']),$htmlent_flags,$htmlent_encoding_acp); ?></textarea>
<p class="small"><input type="checkbox" name="ok_nutzungsbed" value="1" /> Ich akzeptiere die Datenschutz / Nutzungsbedingungen und abonniere den Newsletter.</p>

<?php if (isset($_REQUEST['sendregform']) && !empty($_REQUEST['sendregform']) && isset($_REQUEST['nutzungsbedingungen']) && (!isset($_REQUEST['ok_nutzungsbed']) || isset($_REQUEST['ok_nutzungsbed']) && $_REQUEST['ok_nutzungsbed'] != 1)): ?>
<p class="highlight">Sie m&uuml;ssen den Datenschutz / Nutzungsbedingungen zustimmen.</p>
<?php endif; ?>

<?php endif; ?>

<input type="submit" name="sendregform" value="Jetzt anmelden" />

</form>